body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    font-family: Arial, sans-serif;
}

.esfera {
    width: 150px;
    height: 150px;
    background-color: #3498db; /* cor inicial */
    border-radius: 50%; /* transforma em círculo */
    transition: background-color 0.3s ease;
    cursor: pointer;
}